//
//  TheWireConfig.xcconfig
//  The Wire
//
//  Created by Brandon Shaw on 4/24/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BUILD_NUMBER = 1

MARKETING_VERSION = 0.0.1

DISPLAY_NAME = The Wire

PRODUCT_BUNDLE_IDENTIFIER = com.sample.wireviewer

ICON_ASSET = AppIcon-Wire-Prod

API_QUERY = the+wire
